@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vqhcng');
  src:  url('fonts/icomoon.eot?vqhcng#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vqhcng') format('truetype'),
    url('fonts/icomoon.woff?vqhcng') format('woff'),
    url('fonts/icomoon.svg?vqhcng#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hand-stop:before {
  content: "\e900";
}
.icon-information-outline:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e800";
}
.icon-promo:before {
  content: "\e801";
}
.icon-shop:before {
  content: "\e802";
}
.icon-card:before {
  content: "\e803";
}
.icon-bin:before {
  content: "\e9ad";
}
